/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600;700&display=swap');

/* common styles or utilities */
body {
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin-bottom: 10px;
}


h1 {
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
}

h4 {
    font-size: 15px;
    font-weight: 700;
    color: #161616;
    line-height: 25px;
}

p {
    font-weight: 400;
    line-height: 26px;
}

/* Hero area styles */
.hero-area {
    background-color: #161616;
    color: #FFFFFF;
    width: 1000px;
    height: 546px;
    border-radius: 30px;
    align-items: center;
    margin-top: 35px;
    padding: 20px 110px;
}

.flexible {
    display: flex;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 481px;
    height: 555px;
    margin-top: 33px;

}

.watch-live-btn {
    background-color: #DD0000;
    color: #FFFFFF;
    padding: 16px 25px;
    border-radius: 5px;
    border: none;
}

/* Middle section styles */
.middle-section {
    padding: 60px 50px;
    display: flex;

}

.middle-section .container {
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-column-gap: 20px;
    width: 100%;
}

.side-menus {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #161616;
    padding: 10px;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    height: 312px;
}

.side-menus .menu {
    text-decoration: none;
    background-color: #FFFFFF;
    color: #000;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    padding: 0px 25px;

}

.side-menus .menu a {
    font-size: 20px;
    background-color: #FFFFFF;
    color: #161616;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}

.blogs .blog {
    background-color: #ffffff;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
}

.blogs .blog img {
    width: 100%;
    border-radius: 5px;
}

.blog-details {
    padding: 15px 20px;
}

.transfer-btn {
    text-decoration: none;
    font-size: 16px;
    color: #161616;
    border: 1px solid #161616;
    padding: 3px 10px;
    border-radius: 5px;
}

.blog-details .blog-reaction {

    display: flex;
    width: 60%;
    justify-content: space-between;
}

.blog-reaction span {
    color: #343333;
}