/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600;700&display=swap');

/* common styles or utilities */


body {
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

section {
    margin-bottom: 80px;
}


h1 {
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
}

h4 {
    font-size: 15px;
    font-weight: 700;
    color: #161616;
    line-height: 25px;
}

p {
    font-weight: 400;
    line-height: 26px;
}

/* Hero area styles */
.hero-area {
    background-color: #6B34B4;
    color: #FFFFFF;
    width: 950px;
    height: 500px;
    border-radius: 30px;
    align-items: center;
    margin-top: 35px;
    padding: 20px 110px;
}

.flexible {
    display: flex;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 481px;
    height: 512px;
    margin-top: 33px;
    padding-left: 80px;

}

.watch-live-btn {
    font-size: 20px;
    font-weight: 400;
    background-color: #DD0000;
    color: #FFFFFF;
    padding: 14px 18px;
    border-radius: 5px;
    border: none;
}

/* Middle section styles */
.middle-section .container {
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-column-gap: 20px;
    width: 1165px;
}

/* side menu style  */
.side-menus {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #6B34B4;
    padding: 10px;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    height: 312px;
}

.side-menus .menu-button {
    background-color: #FFFFFF;
    color: #000;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0px 15px;
    margin-right: 5px;
    border: 1px solid #E8E8E8;
}

a.menu-button {
    text-decoration: none;
    font-weight: 600;
    display: block;
    font-size: 20px;
    color: #E9E9E9;
}

/* blogs section style  */

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}

.blogs .blog {
    background-color: #ffffff;
    border: 1px solid #E8E8E8;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
}

.blogs .blog img {
    width: 100%;
    border-radius: 5px;
}

.blog-details {
    padding: 15px 20px;
}

.transfer-btn {
    text-decoration: none;
    font-size: 16px;
    color: #000;
    border: 1px solid #6B34B4;
    padding: 3px 10px;
    border-radius: 5px;
}

.blog-details .blog-reaction {

    display: flex;
    width: 60%;
    justify-content: space-between;
}

.blog-reaction span {
    color: #000;
}

/* footer area style  */
footer {
    padding-top: 30px;
    padding-bottom: 70px;
    padding-right: 120px;
    padding-left: 120px;
    height: 250px;
    background-color: #6B34B4;


}

footer h2 {
    font-size: 40px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
}

footer hr {
    border: 1px solid #B9B9B9;
    margin-top: 40px;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 30px;


}

footer ul a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    line-height: 24px;
    margin-right: 40px;
}


/* style for match-schedule.html  */
.matchs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.match {
    padding: 15px 25px;
    margin-top: 0px;
    width: 210px;
    height: 242px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.team {
    display: flex;
    gap: 22px;
    padding-top: 20px;

}

.team img {
    width: 72px;
    height: 50px;
    border-radius: 2px;

}

.match-schedule h4 {
    font-weight: 600;
    font-size: 20px;
    color: #6B34B4;
    padding-top: 25px;
    text-align: center;
    line-height: 35px;
    margin: 0;
}

.match-schedule p {
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Social icon style  */
.social-icon li a {
    font-size: 45px;
}


/* Media Queries  */

/* Responsive for mobile device  */
@media only screen and (max-width: 576px) {

    /* hero area styles  */
    .hero-area {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        height: 95%;
        padding: 5px;
        margin-top: 10px;
    }

    .flexible {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .half-width {
        width: 85%;
        padding-top: 5px;
        text-align: center;
    }

    .hero-area .half-width h1 {
        margin-top: 55px;
        Height: 66px;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        color: #FFFFFF;
    }

    .hero-area .half-width img {

        padding-left: 50px;
        width: 80%;
        margin: -7px;
        align-items: center;
    }

    .hero-area .half-width p {
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        padding-top: 30px;
        white-space: nowrap;
        overflow: hidden;
        display: -webkit-box !important;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
    }

    #ellipsis {
        text-overflow: ellipsis;
    }

    /* Middle area styles  */
    .middle-section {
        padding: 10px 20px;

    }

    .middle-section .container {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .side-menus {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        background-color: #FFFFFF;
        padding: 0;
    }

    .side-menus .menu-button {
        border: 1px solid #E8E8E8 !important;
        color: #000;
        width: 180px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 0px 25px;
    }

    .side-menus .menu-button a {
        border: 1px solid;
        padding: 5px 10px;
        margin-right: 25px
    }

    .blogs,
    .matchs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 24px;
    }

    .blogs .blog {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 5.34229px 13.3557px rgb(0 0 0 / 5%);
        width: 335px;
        height: 405px;
        border: 1px solid #E8E8E8 !important;
    }

    .matchs .match {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 50px;
        box-shadow: 0px 5.34229px 13.3557px rgb(0 0 0 / 5%);
        height: 215px;
        border: 1px solid #E8E8E8 !important;
    }

    /* Footer styles  */
    footer {
        padding: 0px 50px;
        height: 100%;
        background-color: #6B34B4;
        text-align: center;
    }

    footer h2 {
        font-size: 25px;
        text-align: center;
        padding-top: 25px;
        margin: 0;
    }

    footer hr {
        border: 1px solid #B9B9B9;
        margin-top: 25px;
    }

    footer ul {
        list-style: none;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        align-content: center;
        margin-left: 0;
        padding-bottom: 25px;
        margin-bottom: 0;

    }

    footer ul:nth-child(3) {
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
        padding: 10px;
    }
}

/* Media Query for Tablet  */
@media only screen and (min-width: 577px) and (max-width:768px) {

    /* Hero area styles  */
    .hero-area {
        grid-template-rows: repeat(1, 1fr);
        width: 85%;
        height: 398px;
        padding: 15px;
        margin-top: 10px;
    }

    .hero-area .half-width h1 {
        margin-top: 20px;
        Height: 50px;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        text-align: left;
        padding-left: 15px;
        color: #FFFFFF;
    }

    .hero-area .half-width img {

        padding-left: 50px;
        width: 80%;
        height: 400px;
        align-items: center;
    }

    .hero-area .half-width p {
        margin-top: 7em;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        padding-top: 30px;
        white-space: nowrap;
        overflow: hidden;
        display: -webkit-box !important;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
    }

    #ellipsis {
        text-overflow: ellipsis;
    }

    /* Middle area styles  */
    .middle-section {
        padding: 20px 40px;

    }

    .middle-section .container {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .container .side-menus {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        background-color: #FFFFFF;
    }

    side-menus .menu-button {
        color: #000;
        width: 175px;
        height: 50px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        padding: 0px 8px;
        margin-right: 20px;
    }

    .side-menus .menu-button a {
        border: 1px solid;
        margin-right: 10px;
    }

    .blogs,
    .matchs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
    }

    .blogs .blog {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 5.34229px 13.3557px rgb(0 0 0 / 5%);
        width: 315px;
        height: 405px;
        border: 1px solid #E8E8E8 !important;
    }

    .matchs .match {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 50px;
        box-shadow: 0px 5.34229px 13.3557px rgb(0 0 0 / 5%);
        height: 215px;
        border: 1px solid #E8E8E8 !important;
    }

    /* Footer styles  */
    footer {
        width: auto;
        padding: 0px 30px;
        height: 100%;
        background-color: #6B34B4;
        text-align: center;
    }

    footer h2 {
        font-size: 25px;
        text-align: center;
        padding-top: 25px;
        margin: 0;
    }

    footer hr {
        border: 1px solid #B9B9B9;
        margin-top: 25px;
    }

    footer ul {
        list-style: none;
        display: flex;
        padding-top: 10px;
        margin-left: 0;
        padding-bottom: 25px;
        margin-bottom: 0;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    footer ul:nth-child(3) {
        flex-direction: row;
        align-items: center;
        margin-left: 30px;
        padding: 10px;
    }

}